# --- Environnements virtuels ---
venv/
.env/
env/
*_env/
.venv/

# --- Fichiers Python compilés ---
__pycache__/
*.py[cod]
*$py.class

# --- Logs et fichiers temporaires ---
*.log
*.pot
*.tmp
*.swp
*.swo

# --- Configs locales & secrets ---
*.env
*.ini
*.cfg
*.toml
.DS_Store
Thumbs.db

# --- Outils d’édition ---
.vscode/
.idea/

# --- Distribution / Build ---
build/
dist/
*.egg-info/
.eggs/
data/

# --- Tests & coverage ---
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# --- Linting / rapports ---
.flake8
.mypy_cache/
pylint-report.html
flake8-report/
